{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "singleQuote": true,
        "wrapAttributes": true,
        "endOfLine": "auto"
      }
    }
  ]
}
